.card {
    box-sizing: content-box;
    margin: 20px 1px 1px 1px;
    height: 260px;
    width: 250px;
  }
  .card > * {
    padding: 15px 0px;
  }
  .headding {
    color: white;
    margin: 1px;
  }
  .speed {
    background-color: rgb(241, 238, 238);
  }
  .info {
    background-color: rgb(211, 206, 206);
  }
  .selected {
    height: 285px;
    width: 270px;
    border: 5px solid red;
    font-size: 20px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 2px;
  }
.blue {
    background-color: rgb(114, 114, 239);

}
.green {
    background-color: rgb(87, 194, 87);

}
.red {
    background-color: rgb(232, 77, 77);

}
.black {
    background-color: rgb(41, 41, 41);

}
.bluee {
    background-color: rgb(118, 118, 232);
    color: white;
}
.greenn {
    background-color: rgb(135, 213, 135);
    color: white;
}
.redd {
    background-color: rgb(237, 125, 125);
    color: white;
}
.blackk {
    background-color: rgb(99, 98, 98);
    color: white;
}